  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{{asset('assets/dist/img/logo_evisa.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
       <span class="brand-text font-weight-light">Evisa</span> 
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{asset('assets/dist/img/user2-160x160.png')}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ app.user}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Utilisateurs
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('app_utilisateur')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('affectation_historique')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Historique</p>
                </a>
              </li>
            </ul>
          </li>
                     <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Gestion des éléments
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              
              <li class="nav-item">
                <a href=" {{path('app_site_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sites</p>
                </a>
              </li>
              <li class="nav-item ">
                <a href="{{path('app_departement_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Départements</p>
                  {# <i class="right fas fa-angle-left"></i> #}
                </a>
                {# <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>liste</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>ajout</p>
                    </a>
                  </li>
                </ul> #}
              </li>
              <li class="nav-item">
                <a href=" {{ path('app_visa_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Visa</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item ">
              <a href=" {{path('app_rapport_liste')}} " class="nav-link ">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Rapports
                </p>
              </a>
          </li>
          {% endif %}
          {% if is_granted('ROLE_TECHNICIEN') %}
            <li class="nav-item has-treeview">
              <a href="h.html" class="nav-link ">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Rapports
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href=" {{path('arrive_index')}}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Arrivé</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href=" {{path('app_depart_index')}}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Départ</p>
                  </a>
                </li>
              </ul>
            </li>
        {% endif %}
        

          <li class="nav-item">
            <a href="{{path('etat_stock')}}" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>Etat de stock</p>
            </a>
          </li>
        {% if is_granted('ROLE_MAGASINIER') %}
            
        
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Materiel
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('app_materiel_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_materiel_nouveau')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajout</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
              {# <i class="nav-icon fa fa-users "></i> #}
              <i class=" nav-icon fa  fa-cloud-download-alt"></i>
              <p>
                Stock Materiel
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('app_stock_historique')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Historique</p>
                </a>
              </li>
            
              <li class="nav-item">
                <a href="{{path('app_stock_choix')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Stockage</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_approvisonnement')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Approvisionner Site</p>
                </a>
              </li>
            </ul>
          </li>
            
        {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>