{% extends 'base.html.twig' %}

{% block title %}Visa{% endblock %}

{% block body %}
    <h1>Visa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visa.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ visa.intitule }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ visa.remarque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_visa_index') }}">back to list</a>

    <a href="{{ path('app_visa_edit', {'id': visa.id}) }}">edit</a>

    {{ include('visa/_delete_form.html.twig') }}
{% endblock %}
