
{% extends 'template.html.twig' %}
{% block pageName %} 
    Département
{% endblock %}


{% block body %}
<section class="content">
      <!-- Default box -->
      <div class="card card-solid card-primary card-outline">
        <div class="card-header">
                <h1 class="card-title">La liste des départements</h1>
        </div>
        <div class="card-body pb-0">
       {#  {% for categorie in categories %} #}
            
          <div class="row ">
            {% for departement in departements %}
                <div class="col-12 col-sm-6 col-md-3 ">

                <div class="card bg-light">
                    <div class="card-header">
                            <h1 class="card-title">Département {{ departement.nomDepart }}</h1>
                    </div>
                    <div class="card-body pt-0">
                            <p class="text-muted text-sm"><b>Remarques: </b>{{ departement.remarque }} </p>
                            
                    </div>
                    <div class="card-footer">
                        <div >
                            <a href="{{path('app_departement_edit', {'id': departement.id})}}" class="btn btn-sm btn-success">
                                <i class="fas fa-pencil-alt"></i> Modifier
                            </a>
                            <a href="{{path('app_departement_show', {'id': departement.id})}}" class="btn btn-info btn-sm  ">
                                <i class="fas fa-eye "></i> Détail</a>
                        </div>
                        
                    </div>
                </div>
                </div>
            {% else %}
              <p class="bg-secondary"> (Aucun département)</p>
            {% endfor %}
            
          </div>
           {# {% endfor %} #}
        </div>

        
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="{{ path('app_departement_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Ajouter un département</a>
        
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

</section>
{% endblock %}
