{% extends 'template.html.twig' %}
{% block pageName %} 
    Département
{% endblock %}


{% block body %}
<section class="content">
    <!-- Default box -->
    <div class="row">
        <div class="col-md-8">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                <h3 class="profile-username text-center">{{ departement}}</h3>

                <p class="text-muted text-center">{{ departement.remarque}}</p>
                <p > <b>Liste des  membres:</b></p>
                <ul class="list-group list-group-unbordered mb-3"> 
                    {% for membre in departement.mailsDepartements %}
                            <li class="list-group-item">
                            <b>{{membre.nomEmp}}</b> <a class="ml-5 text-center"> <i class="fas fa-envelope"></i>  {{membre.email}}</a> 
                            <a class="float-right btn btn-sm btn-success text-light   "><i class="fas fa-pencil-alt"></i> Modifier</a>
                            <a class="float-right btn btn-sm btn-danger text-light mr-3 "><i class="fas fa-trash"></i> Suprimer</a>
                        </li>
                        
                    {% endfor %}
                    
                </ul>

                
                </div>
                <div class="card-footer">
                <a href=" {{path('app_departement_index')}}" class="btn btn-default "><i class="right fas fa-angle-left"></i> Retour</a>
                    
                </div>
                <!-- /.card-body -->
            </div> 
        </div>
        <div class="col-md-3">
                <!-- general form elements -->
                <div class="card card-primary ">
                    <div class="card-header">
                    <h3 class="card-title">Ajouter un nouveau membre</h3>
                    </div>
                <!-- /.card-header -->
                <!-- form start -->
                    {{ form_start(form) }}
                    <div class="card-body">
                            {{ form_widget(form) }}
                    </div>
                    <div class="card-footer ">
                        <button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Ajouter</button>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
                <!-- /.card -->
        </div>
    
    </div>
            
        
     

</section>

{% endblock %}
