
{% extends 'template.html.twig' %}
{% block pageName %} 
 Historique
{% endblock %}

{% block body %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                    <h3 class="card-title mr-5">L'historique d'affectation des utsilisateurs</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                    
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Recherche">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    
                    </div>
                </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0 " style="height: 350px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                        <th></th>
                        <th>Noms</th>
                        <th>Prenoms</th>
                        <th>ancienSite</th>
                        <th>SiteAffectation</th>
                        <th>DateAffectation</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for i,historique in historiques %}

                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td >{{historique.nom }}</td>
                        <td >{{historique.prenom }}</td>
                        <td >{{historique.ancienSite }}</td>
                        <td >{{historique.siteAffectation  }}</td>
                         <td>{{ historique.dateAffectation ? historique.dateAffectation|date('d/m/Y  h:i') : '-' }}</td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" >(Aucun Historique)</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
               <!-- /.card-footer -->
            
            
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% endblock %}
