{% extends 'template.html.twig' %}
{% block pageName %} 
Acceuil
{% endblock %}
{% block body %}
<section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        {# <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div> #}
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Etat de stock 
                    ({{lieu}})
                    </h5>
              {% if is_granted('ROLE_MAGASINIER') %}
                <div class="card-tools">
                      
                            {{ form_start(form) }}
                            
                            {{ form_row(form.site)}}
                           {#  <input type="text" name="table_search" class="form-control float-right" placeholder="Recherche"> #}

                            <div class="input-group-append mb-3">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                            {{ form_end(form) }}
                    </div>
                  {% endif %}
              </div>
              <!-- /.card-header -->
      
              <div class="card-body">
                <div class="row">
                  
                  <!-- /.col -->
                  <div class="offset-2 col-md-8">
                    <p class="text-center">
                      <strong> Vignettes  </strong>
                    </p>
                
                {% for etat in etatStock.etiquette %}
                        
                    <div class="progress-group">
                       {{ etat['paf'] }}
                      <span class="float-right"><b>{{ etat['état'] }}</b>/500</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: {{ etat['état']/5 }}%"></div>
                      </div>
                    </div>
                      
                        
                        
                    {% endfor %}
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              <div class="card-footer">
                <div class="row">
               
                {% for autre in etatStock.autres %}
                    {% if autre.materiel == 'Ram Papier A5' %}
                        {% set etat = autre.état  %}
                    {% else %}
                         {% set etat = autre.état  %}
                    {% endif %}
                  <div class="col-sm-4 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> {# {{ //materiel['état'] }} #}</span>
                      <h5 class="description-header">{{ etat }}</h5>
                      <span class="description-text"> {{ autre.materiel }} </span>
                    </div>
                </div>
                    
                {% endfor %}
                    <!-- /.description-block -->
                  
                  <!-- /.col -->

                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </div><!--/. container-fluid -->
    </section>

{% endblock %}
