{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <h1>Rapport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rapport.id }}</td>
            </tr>
            <tr>
                <th>NumeroVol</th>
                <td>{{ rapport.numeroVol }}</td>
            </tr>
            <tr>
                <th>DateRapport</th>
                <td>{{ rapport.dateRapport ? rapport.dateRapport|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DatePrevue</th>
                <td>{{ rapport.datePrevue ? rapport.datePrevue|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateVol</th>
                <td>{{ rapport.dateVol ? rapport.dateVol|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ rapport.remarque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rapport_index') }}">back to list</a>

    <a href="{{ path('app_rapport_edit', {'id': rapport.id}) }}">edit</a>

    {{ include('rapport/_delete_form.html.twig') }}
{% endblock %}
