{% extends 'template.html.twig' %}
{% block pageName %} 
 Utilisateurs
{% endblock %}

{% block body %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="card card-primary">
                <div class="card-header">
                    <h1 class="card-title">Ajouter un nouvel utilisateur</h1>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                {{ form_start(registrationForm) }}
                    <div class="card-body">
                    <div class="form-group">
                         {{ form_row(registrationForm.no_mat, {label: 'N° Matricule'}) }}
                    </div>
                    <div class="form-group">
                         {{ form_row(registrationForm.name, {label: 'Nom'}) }}
                    </div>
                    <div class="form-group">
                         {{ form_row(registrationForm.plainPassword, {label: 'Mot de Passe'}) }}
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                {{ form_end(registrationForm) }}
                </div>
            </div>
            <!-- /.card -->
        </div>
</section>



{% endblock %}
