
{% extends 'template.html.twig' %}
{% block pageName %} 
 Historique
{% endblock %}

{% block body %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                    <h3 class="card-title mr-5">L'historique de stcok du magasin</h3>
                   
            
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                    
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Recherche">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    
                    </div>
                </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0 " style="height: 350px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                        <th></th>
                        <th>Date de Stock</th>
                        <th>Mouvement </th>
                        <th>Matériel</th>
                        <th>Quantité</th>
                        <th>Remarques</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for i,historique in historiques %}

                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ historique.dateStock ? historique.dateStock|date('Y-m-d  h:i:s') : '-' }}</td>
                        <td >{{historique.mouvement ? : '-' }}</td>
                        <td >{{historique.materiel ? : '-' }}</td>
                        <td >{{historique.quantite ? : '-' }}</td>
                        <td >{{historique.remarque ? : '-' }}</td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" >(Aucun Historique)</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
               <!-- /.card-footer -->
            
                <div class="card-footer clearfix">
                    <a class="ml-5 btn btn-sm btn-success text-light float-right"  href ="{{ path('app_depart_nouveau') }}"><i class="fas fa-plus"> Nouveau rapport</i> </a>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% endblock %}
